@font-face {
    font-family: 'Bodoni';
    font-style: normal;
    font-weight: normal;
    src: local('Bodoni'), url('../font/bodoni/bodoni.woff') format('woff');
}


@font-face {
    font-family: 'Avenir Roman';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Roman'), url('../font/avenir/avenir.woff') format('woff');
}